<div class="search-container">
    <!--<form asp-area="" asp-controller="Home" asp-action="Privacy">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск" name="search">
    </form>-->
    <div class="righ-align">
        <form asp-area="" asp-controller="AccountManager" asp-action="UserList">
            <input type="button" value="Выход"</input>
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Поиск" name="search">
        </form>
    </div>
</div>