@using Microsoft.AspNetCore.Identity;
@using AwesomeNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <a accept-policy asp-area="" asp-controller="AccountManager" asp-action="Logout">Выход</a>
}