@{
    ViewData["Title"] = "User";
}

@model AwesomeNetwork.ViewModels.Account.UserViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="row" method="post" asp-controller="AccountManager" asp-action="update">
    <h2>Редактирование пользователя</h2>
    <input type="text" value="ID пользователя"/>
    <input type="text" value="Фамилия"/>
    <input type="text" value="Имя"/>
    <input type="text" value="Отчество"/>
    <input type="text" value="Дата рождения"/>
    <input type="text" value="Email"/>
    <input type="text" value="URL"/>
    <input type="text" value="status"/>
    <input type="text" value="about"/>
    <input class="btn_submit" type="submit" value="Редактировать" />
</div>